{
  "cluster": {
    "password_auth": false,
    ${admin_config_param}
  },
  "node": {
    "hostname": "${stack_name_param}Anvil",
    "ha_mode": "Standalone",
    "networks": {
      "eth0": {
        "roles": ["data", "mgmt"]
      }
    }
  }
}
