{
  "cluster": {
    "password_auth": false,
    ${password_auth_pwd_suffix},
    "metadata": {
      "ips": [${metadata_ip_for_dsx}]
    }
  },
  "node": {
    "hostname": "${project_name}DSX${dsx_node_index_param}",
    "features": ["storage", "portal"],
    "networks": {
      "eth0": {
        "roles": ["data", "mgmt"]
      }
    },
    "add_volumes": ${add_volumes_str}
  }
  ${admin_config_suffix}
}
